.tab {
	margin-bottom: 2rem;
}

.tab .nav-tabs {
	border:0;
}

.tab .nav-tabs .nav-link{
	background: transparent;
	color: #343a40;
	padding: 0.75rem 1rem;
	border: 0;
}

.tab .nav-tabs .nav-link.active{
	background: #ffffff;
	color: #343a40;
}

.tab .tab-content {
    background: #fff;
    padding: 1.25rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 0 0 .2rem .2rem;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.tab-title {
    font-size: .925rem;
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -1rem;
    margin-left: -.625rem;
    border-bottom: 0;
}

.card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem;
}

.nav-pills .nav-link {
    border-radius: .2rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3b7ddd;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}


